.about-component {
    margin: 5px;
    padding: 5px;
}

.info {
    text-align: justify;
    margin: 10px;
    font-size: 20px;
}

img{
    height: auto;
    width: 120px;
}

.images{
    display: grid;
    grid-auto-flow: column; /* Arrange items in a single row */
    grid-auto-columns: auto; /* Column width adapts to content */
    gap: 10px; /* Space between images */
    overflow-x: auto; /* Enables horizontal scrolling if needed */
    white-space: nowrap; /* Prevents wrapping */
}



