#app-bar-logo {
    height: 40px;
    width: 40px;
}

.details ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 0;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid black;
    width: auto;
    margin: 2.5px;
    padding: 2px;
    border-radius: 50px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}