.project-card {
    border-radius: 0 10px 10px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto;
    gap: 1.5rem;
}

.projects-section {
    background-color: transparent;
    color: white;
    padding: 4rem 6rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}