@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap');

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    background: black;
    color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}

#header-name {
    font-family: 'Black Ops One', sans-serif;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin: 0;
    color: white;
}




.nav-container {
    display: flex;
    align-items: center;
}


#nav-section-list {
    list-style: none;
    display: flex;
    gap: 3rem;
    margin: 0;
    padding: 0;
}


#nav-section-list li a {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    color: white;
    text-decoration: none;
    transition: opacity 0.3s ease;
    flex-shrink: 0;
}


#nav-section-list li a:hover {
    opacity: 0.5;
    cursor: pointer;
}
#nav-section-list li a:active {
    opacity: 0.7;
}