@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap);

.hero-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 3rem;
    gap: 29rem;
}

.hero-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}