.hero-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 3rem;
    gap: 29rem;
}

.hero-text-container{
    display: flex;
  justify-content: center;
  align-items: center;
}