.home-component{
    background: radial-gradient(
        circle at bottom right,
        rgba(255, 255, 255, 0.2),
        black
      );
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
}

.text{
  background: linear-gradient(to right, white 45%, black 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: bold;
  margin: 200px;
}
.role{
  font-size: 25px;
  padding-left: 50px;
}